@import "styles/mixins";
@import "styles/variables";

.postitem {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.title {
  @include useMontserrat;
  font-size: 32px;
  box-shadow: none;
  margin: 0 0 8px;

  &:hover {
    color:$secondary;
  }
}
