@import "styles/mixins";
@import "styles/variables";

.postitem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 32px;

  &:last-child {
    margin: 0;
  }
}

.title {
  @include useMontserrat;
  font-size: 24px;
  box-shadow: none;
  margin: 0 0 8px;

  &:hover {
    color: $secondary;
  }
}

.spoiler {
  margin: 6px 0 0;
}

@media all and (min-width: 768px) {
  .postitem {
    margin: 0 0 48px;
  }
}
