$primary: #5E56D0;
$secondary: rgba($primary, 0.8);
$bg: #FFF;
$text: #333333;
$title: $primary;
$link: $primary;
$hr: hsla(0, 0%, 100%, 0.2);
$inlineCodeBg: rgba(115, 124, 153, 0.2);
$inlineCodeText: #e6e6e6;
$shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);

//$primary-dark: #4DC3DD;
//$bg-dark: #282C35;
//$text-dark: hsla(0, 0%, 100%, 0.88);
//$title-dark: $primary-dark;
//$link-dark: $primary-dark;
//$hr-dark: hsla(0, 0%, 100%, 0.2);
//$inlineCodeBg-dark: rgba(115, 124, 153, 0.2);
//$inlineCodeBg-dark: #e6e6e6;
//$shadow-dark: 0 2px 15px 0 rgba(26, 26, 27, 0.637);
