$primary: var(--primary);
$secondary: var(--secondary);
$bg: var(--bg);
$text: var(--text);
$title: var(--title);
$link: var(--link);
$inlineCodeBg: var(--inlineCodeBg);
$inlineCodeText: var(--inlineCodeText);
$accentLine: var(--accentLine);
